.catalog {
  margin-top: 60px;
  color: black;
}

.title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}
