.hero {
  position: relative;
  height: 1080px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 220px;
  left: 200px;
  width: 647px;
}

.delicious {
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: 400;
  width: 132px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.catalogBtn {
  background-color: #fed84c;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}

.smallText {
  font-size: 15px;
  line-height: 160%;
}

.berry {
  position: absolute;
  width: 195px;
  height: 201px;
  left: -65px;
  top: 200px;
}

.berry1 {
  position: absolute;
  width: 170px;
  height: 175px;
  left: 1300px;
  top: 109px;
}

.berry2 {
  position: absolute;
  width: 195px;
  height: 201px;
  left: 1100px;
  top: 650px;
}

.leaf {
  position: absolute;
  width: 275px;
  height: 286px;
  left: -40px;
  top: 694px;
}
