.card {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 350px;
  height: 215px;
  object-fit: cover;
}

.info {
  border: 1px solid rgba(194, 198, 208, 0.5);
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.info span {
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin-bottom: 10px;
}

.info p {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.button {
  font-size: 18px;
  font-weight: 500;
  background-color: #fed84c;
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.counterRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counterBtn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #fed84c;
  font-size: 20px;
  font-weight: 600;
}

.counterValue {
  font-size: 18px;
  font-weight: 500;
}

.total {
  font-size: 16px;
  font-weight: 500;
}
