.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.spacer {
  height: 86px;
}


.logotype {
  font-size: 21px;
  font-weight: 500;
}

.info {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 59px;
}

.location,
.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneNumber {
  font-size: 20px;
  font-weight: 700;
}

.phoneHours {
  font-size: 13px;
}
