.header {
  max-width: 1920px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(126, 134, 142, 0.1);
  color: white;
}

.logotype {
  font-size: 21px;
  font-weight: 500;
}

.info {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 59px;
}

.location,
.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phoneNumber {
  font-size: 20px;
  font-weight: 700;
}

.phoneHours {
  font-size: 13px;
}
